In [1]:
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest, SelectPercentile
from sklearn.feature_selection import chi2
from sklearn.feature_selection import f_classif
import pandas as pd

In [2]:
iris=load_iris()
X=iris.data
y=iris.target

In [3]:
X=X.astype(int)

In [4]:
chi2_selector=SelectKBest(chi2,k=2)
kbest=chi2_selector.fit_transform(X,y)

In [5]:
chi2_scores=pd.DataFrame(list(zip(iris.feature_names,chi2_selector.scores_)),columns=['features','score'])

In [6]:
chi2_scores

            features       score
0  sepal length (cm)   10.287129
1   sepal width (cm)    5.022670
2  petal length (cm)  133.068548
3   petal width (cm)   74.279070

In [7]:
[feature for feature,score in zip(iris.feature_names,chi2_selector.scores_)]

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [8]:
kbest.shape[1]

2

In [8]:
chi2_selector.get_support()

array([False, False,  True,  True])

In [9]:
import numpy as np
np.asarray(iris.feature_names)[chi2_selector.get_support()]

array(['petal length (cm)', 'petal width (cm)'], dtype='<U17')

# Mutual Info

In [10]:
from sklearn.feature_selection import mutual_info_classif

In [11]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [12]:
features=df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']]
features

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [13]:
df['target']=iris.target

In [16]:
target=df[['target']]

In [17]:
feature_score=mutual_info_classif(features,target)

/home/akshay/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)